# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyd

# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/
*.log

# =========================
# Environments
# =========================
.env
.env.*
*.env

venv/
.venv/

# =========================
# Node / Frontend
# =========================
node_modules/
.next/
dist/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
